<div class="name animate__animated animate__fadeInUp">BATMAN</div>

<div class="desc-line">
  <svg width="50">
    <line x1="0" y1="0" x2="50" y2="0" stroke="#FE546F" stroke-width="5" />
  </svg>
</div>

<h4 class="desc animate__animated animate__fadeInUp animate__delay-1s">
  Superhero & Billionaire
</h4>

<p class="about animate__animated animate__fadeInLeft animate__delay-2s">
  I save the world and recently did detective role. I was a prisoner. I normally
  talk with sore throat. I have to visit the doc for that. I live in dark.
  Better bring the torch while coming to the theaters to watch me.
</p>
